@font-face{
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-family: Outfit;
}
@font-face{
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-family: YoungSerif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
    font-family: Outfit;
    margin-top: 90px;
    margin-bottom: 70px;
    color: hsl(30, 10%, 34%);
}
.container{
    background-color: white;
    width: 650px;
    padding: 40px;
    border-radius: 20px;
}
.container img{
    width: 100%;
    border-radius: 15px;
}
.container h1{
    font-family: YoungSerif;
    font-weight: 400;
    font-size: 2.5em;
    color: hsl(24, 5%, 18%);
}
.container p{
    line-height: 1.6em;
    margin-top: -10px;
    font-size: 16px;
    font-weight: 400;
}
.preparation-time{
    margin-top: 30px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 10px 30px;
}
.preparation-time h3{
    font-size: 1.3em;
    margin-bottom: 10px;
    color: hsl(332, 51%, 32%);
}
ul, ol{
    padding-left: 25px;
}
li{
    padding-left: 20px;
    margin-bottom: 15px;
}
li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
.container h2{
    font-family: YoungSerif;
    font-size: 1.8em;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}
strong{
    font-weight: 700;
}
.nutrition-values{
    color: hsl(14, 45%, 36%);
}
hr{
    border-top: 1px solid hsl(30, 18%, 87%);
}
table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
td{
    padding: 15px 30px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
tr:last-child td{
    border-bottom: none;
}

@media (max-width: 600px){
    body{
        margin: 0;
    }
    .container{
        padding: 20px;
        border-radius: 0;
    }
    .container img{
        border-radius: 0px;
        margin: -20px;
        width: 100vw;
        margin-bottom: 0px;
    }
    .container h1{
        font-size: 2.2em;
    }
    .container h2{
        font-size: 1.6em;
    }
    .preparation-time h3{
        font-size: 1.2em;
    }
}